@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
html,
body {
  background: black;
}
::-webkit-scrollbar {
  display: none;
}
.loading-boxes {
  height: 100%;
  width: 100%;
  background-color: rgb(29, 117, 4);
  position: relative;
  z-index: 1000;
}
.loading-page-parent {
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
@media (max-width: 1000px) {
  .loading-page-parent {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media (max-width: 750px) {
  .loading-page-parent {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media (max-width: 600px) {
  .loading-page-parent {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media (max-width: 450px) {
  .loading-page-parent {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}
@media (max-width: 400px) {
  .loading-page-parent {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}
.loading-boxes:hover {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  cursor: pointer;
  background-color: rgb(4, 251, 4);
  box-shadow: 0px 0px 5px rgb(4, 251, 4), 0px 0px 25px rgb(4, 251, 4),
    0px 0px 50px rgb(4, 251, 4), 0px 0px 200px rgb(4, 251, 4);
}
.hidden {
  scale: 0.8;
  opacity: 0;
  border-radius: 10px;
  transition-duration: 1s;
}
.btn {
  position: absolute;
  top: 10px;
  background: #000;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
}

#chasingLight {
  position: absolute;
  transition: 0.1s ease;
  height: 1px;
  width: 1px;
  color: transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 200px 80px rgb(4, 251, 4);
}
main {
  height: 100vh;
  width: 100vw;
  background-image: url(/assets/bg2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

a button {
  padding: 12px 24px;
  background-color: rgb(31, 125, 6);
  border: none;
  transition-duration: 0.5s;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(4, 251, 4);
}
a button:hover {
  background-color: rgb(4, 251, 4);
  box-shadow: 0px 0px 5px rgb(4, 251, 4), 0px 0px 25px rgb(4, 251, 4),
    0px 0px 50px rgb(4, 251, 4), 0px 0px 200px rgb(4, 251, 4);
  -webkit-box-reflect: below 0%
    linear-gradient(transparent, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  cursor: pointer;
  color: black;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 70vw;
}
.text-container {
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.text-grand-container{
  display: flex;
  flex-direction: column;
}

.text-container span:hover {
  -webkit-box-reflect: below -45% linear-gradient(transparent, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.text {
  color: rgb(4, 251, 4);
  font-size: 60px;
  font-weight: bold;
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transform: translateY(200%);
  line-height: normal;
  text-transform: uppercase;
  -webkit-box-reflect: below -45% linear-gradient(transparent, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
@media(max-width: 1050px){
  .text{
    font-size: 50px;
  }
}
@media (max-width:880px) {
  .text{
    font-size: 40px;
  }
  a button{
    padding: 10px 18px;
    font-size: 16px;
  }
}
@media (max-width:500px) {
  a button{
    padding: 8px 10px;
    font-size: 10px;
  }
}
@media (max-width:400px) {
  .text{
    font-size: 35px;
  }
}
.translate {
  transform: translateY(0%);
}
